@page
@model CartModel

<h2>My Basket</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Count</th>
            <th>Product</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model?.Cart?.Items ?? Enumerable.Empty<CartItem>())
        {
            <tr>
                <td>@item.Quantity</td>
                <td>@item.Product.Name</td>
                <td>@item.Product.Price</td>
                <td>
                    @((item.Quantity * item.Product.Price).ToString())
                </td>
            </tr>
        }
    </tbody>
</table>